@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

a {
  color: #007fff;
  text-decoration: none;
}

li {
  list-style-type: none;
  padding: 0;
}

.listing-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.listing-avatar {
  margin: -2.2rem 0 0 16px;
  border: solid 4px white;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.hero {
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  padding: 4rem;
}

.homepage-hero {
  background-color: #007fff;
}

.align-center {
  text-align: center;
}

footer {
  background-color: #f3f3f3;
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-top: solid 1px #d2d2d2;
}

.nav-link {
  color: white;
  text-decoration: none;
}
